<div class="container pt-4">
  <h1 class="header">Dashboard</h1>

  <section>
    <div class="card p-3 mb-4">
      <h2 class="section-header pb-2">Statistics</h2>
      <div class="flex">
        <div class="col-sm-6 pb-4">
          <h2 class="stats-header text-center">To dos</h2>
          <div class="d-flex justify-content-center">
            <div class="pr-3"><div class="stat-number text-center"><%= @total_completed_tasks %></div> all-time completed <%= "task".pluralize(@total_completed_tasks) %></div>
            <div><div class="stat-number text-center"><%= @todays_number_of_remaining_tasks %></div> remaining <%= "task".pluralize(@todays_number_of_remaining_tasks) %> today</div>
          </div>
          <div class="stat-header text-center pt-4">Today's task completion</div>
          <%= pie_chart @task_completion_hash, colors: ["rgba(98, 218, 160, 1)", "rgba(90, 205, 241, 1)"], height: "120px", suffix: "%", legend: "bottom" %>
        </div>

        <div class="col-sm-6">
          <h2 class="stats-header text-center">Entries</h2>
          <div class="d-flex justify-content-center">
            <div class="pr-3"><div class="stat-number text-center"><%= @total_entries %></div> <%= "entries".pluralize(@total_entries) %></div>
            <div><div class="stat-number text-center"><%= @average_entry_word_length %></div> average word length</div>
          </div>
          <div class="stat-header text-center pt-4">Days with entries</div>
          <%= pie_chart @entry_completion_hash, colors: ["rgba(98, 218, 160, 1)", "rgba(90, 205, 241, 1)"], height: "120px", suffix: "%", legend: "bottom" %>
        </div>
      </div>
    </div>

  </section>

  <section class="tasks">
    <div class="card p-3 mb-4 half-width">
      <h2 class="section-header pb-2">To dos</h2>

      <div class="px-3">
        <% @tasks.each do |task| %>
          <div class="task-row">
            <div class="d-flex align-items-center">
              <div class="col-sm-1 pr-4">
                <% if task.status == false %>
                  <i class="far fa-circle"></i>
                <% else %>
                  <i class="fas fa-circle"></i>
                <% end %>
              </div>
              <div class="col-sm-8">
                <div><%= task.name %></div>
                <div class="due-date"><%= task.due_date.strftime("%B %-d") %></div>
              </div>
              <div class="col-sm-2">
                <% if task.priority == "high" %>
                  <i class="fas fa-lightbulb -red"></i>
                <% elsif task.priority == "medium" %>
                  <i class="fas fa-lightbulb -orange"></i>
                <% else %>
                  <i class="fas fa-lightbulb -green"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      
        <div type="button" class="link pt-2" id="add-task-toggle">Add new todo</div>

        <div id="task-form" class="display">
          <%= form_with(model: @task, local: true) do |f| %>

            <div class="row">
              <div class="col-sm-6">
                <%= f.label :name, class: 'label-grey' %>
                <%= f.text_field :name, class: 'form-control' %>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <%= f.label :due_date, class: 'label-grey mt-3' %>
                <%= f.date_field :due_date, class: 'form-control' %>
              </div>

              <div class="col-sm-6">
                <%= f.label :priority, class: 'label-grey mt-3 mr-3' %>
                <div>
                  <%= f.radio_button :priority, 'low'%> 
                  <%= f.label :priority, 'low', :value => 'low', class: 'mr-2 pt-2'  %>
                  <%= f.radio_button :priority, 'medium' %>
                  <%= f.label :priority, 'medium', :value => 'medium', class: 'mr-2 pt-2'  %>
                  <%= f.radio_button :priority, 'high' %>
                  <%= f.label :priority, 'high', :value => 'high', class: 'mr-2 pt-2' %>
                </div>
              </div>

              <%= f.button class: 'btn-plus mt-2' do %>
                <i class="fas fa-plus"></i>
              <% end %>

            </div>
          <% end %>
        </div>

      </div>
    </div>
  </section>

  <section class="entries">
    <div class="card p-3 mb-4">
    <h2 class="section-header">Entries</h2>
    <div class="px-3">
      <% if @entries.exists? %>
        <% @entries.last(3).reverse.each_with_index do |entry, index| %>
          <div class="row">
            <div class="col-sm-8 pb-4 pt-2">
              <div class="entry-header pb-1"><%= entry.title %></div>
              <div class="entry-date pb-2"><%= entry.created_at.strftime("%A, %B %d, %Y") %></div>
              <div class="mb-2"><%= entry.content %></div>
              <%= link_to edit_entry_path(entry), class: "link" do %>
                <i class="fas fa-edit"></i>
              <% end %>
              <% if entry != @entries.last(3).first %>
                <div class="divider mt-4"></div>
              <% end %>
            </div>
          </div>
        <% end %>
        </div>
      <% end %>
    <div>
      <%= link_to new_entry_path, class: 'btn-plus ml-4' do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
    </div>
  </section>

</div>
