<div class="container pt-4">
  <h1 class="header">Dashboard</h1>

  <section>
  
    <div>Completed tasks: <%= @total_completed_tasks %></div>
    <div>Tasks reminaing today: <%= @todays_number_of_remaining_tasks %></div>

    <%= pie_chart @task_completion_hash, colors: ["rgba(90, 205, 241, 1)", "rgba(255, 82, 82, 0.95)"], height: "120px", suffix: "%", legend: "bottom" %>

    <div>Days since first entry: <%= @total_days_since_first_entry %></div>
    <div>Percentage of days with entries: <%= @percentage_of_days_with_entries %>%</div>
    <div>Average entry word length: <%= @average_entry_word_length %> words</div>

  </section>

  <section class="tasks">
    <div class="card p-3 mb-4 half-width">
      <h2 class="section-header">To dos</h2>

      <div class="px-3">
        <% @tasks.each do |task| %>
          <div class="task-row">
            <div class="d-flex align-items-center">
              <div class="col-sm-2">
                <% if task.status == false %>
                  <div class="pr-2">◯</div>
                <% else %>
                  <div class="pr-2">◎</div>
                <% end %>
              </div>
              <div class="col-sm-8">
                <div><%= task.name %></div>
                <div class="due-date"><%= task.due_date.strftime("%B %-d") %></div>
              </div>
              <div class="col-sm-2">
                <% if task.priority == "high" %>
                  <i class="fas fa-lightbulb -red"></i>
                <% elsif task.priority == "medium" %>
                  <i class="fas fa-lightbulb -orange"></i>
                <% else %>
                  <i class="fas fa-lightbulb -green"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      
        <div type="button" class="link" id="add-task-toggle">Add new todo</div>

        <div id="task-form" class="display">
          <%= form_with(model: @task, local: true) do |f| %>

            <div class="row">
              <div class="col-sm-6">
                <%= f.label :name, class: 'label-grey' %>
                <%= f.text_field :name, class: 'form-control' %>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <%= f.label :due_date, class: 'label-grey mt-3' %>
                <%= f.date_field :due_date, class: 'form-control' %>
              </div>

              <div class="col-sm-6">
                <%= f.label :priority, class: 'label-grey mt-3 mr-3' %>
                <div>
                  <%= f.radio_button :priority, 'low'%> 
                  <%= f.label :priority, 'low', :value => 'low', class: 'mr-2 pt-2'  %>
                  <%= f.radio_button :priority, 'medium' %>
                  <%= f.label :priority, 'medium', :value => 'medium', class: 'mr-2 pt-2'  %>
                  <%= f.radio_button :priority, 'high' %>
                  <%= f.label :priority, 'high', :value => 'high', class: 'mr-2 pt-2' %>
                </div>
              </div>

              <%= f.button class: 'btn-plus mt-2' do %>
                <i class="fas fa-plus"></i>
              <% end %>

            </div>
          <% end %>
        </div>

      </div>
    </div>
  </section>

  <section class="entries">
    <div class="card p-3 mb-4">
    <h2 class="section-header">Entries</h2>
    <div class="px-3">
      <% @entries.last(3).reverse.each_with_index do |entry, index| %>
        <div class="row">
          <div class="col-sm-8 pb-4 pt-2">
            <div class="entry-header pb-1"><%= entry.title %></div>
            <div class="entry-date pb-2"><%= entry.created_at.strftime("%A, %B %d, %Y") %></div>
            <div><%= entry.content %></div>
            <% if entry != @entries.last(3).first %>
              <div class="divider mt-4"></div>
            <% end %>
          </div>
        </div>
      <% end %>
      </div>
    <div>
      <%= link_to new_entry_path, class: 'btn-plus ml-4' do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
    </div>
  </section>

</div>
