<div class="container pt-4">

  <h1 class="header">Write entry</h1>

  <%= simple_form_for @entry do |f| %>
    <%= f.input :title, label_html: { class: 'label-grey' } %>
    <%= f.input :content, label: 'Entry text', label_html: { class: 'label-grey' }, placeholder: 'What\'s on your mind?' %>
    
    <div class="d-flex justify-content-start">
      <%= link_to 'Back to dashboard', dashboard_path, class: "btn -blue-grey mr-2" %>
      <%= f.button :submit, 'Create entry', class: 'btn -medium-purple' %>
      <% end %>
    </div>
</div>