<!DOCTYPE html>
<html>
  <head>
    <title>Journies Bullet Journal</title>
    <%= favicon_link_tag asset_path('Favicon.png') %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/navbar' %>

    <% flash.each do |message_type, message| %>
      <div class="<%= message_type %> mt-4">
        <div class="container p-2"><%= message %></div>
      </div>
    <% end %>

    <div class="main-content">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </body>

</html>
